@font-face {
    font-family: "Expletus-sans";
    src: url(../assets/Expletus_Sans/ExpletusSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Expletus-sans";
    src: url(../assets/Expletus_Sans/ExpletusSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'space-grotesk';
    src: url(../src/assets/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}